<div class="container">
    <div class="row mt-5">
      <div class="col-4" style="background-color: orange;">
      <div><%= image_tag @customer.get_profile_image, size:"120x120" %></div>
      </div>
      <div class="col-8" style="background-color: skyblue;">
        <h4><%= @customer.name %></h4>
        <h5><%= @customer.introduction %></h5>
      </div>
    </div>
        <% if @customer == current_customer %>
        <div class="row">
        <%= link_to "プロフィール編集する", edit_customer_path(current_customer), class: "btn btn-success" %>
    <br>
      <%= link_to "ブックマーク一覧", favorites_customers_path, class: "btn btn-warning" %>
      <%= link_to "レシピを投稿する", new_recipe_path, class: "btn btn-info" %>
    </div>
<% end %>

<h5 class="mt-5">投稿したレシピ</h5>
<div class="row">
<% @recipes.each do |recipe| %>
          <%= link_to recipe_path(recipe) do %>

            <ul class="myrecipe_date col-3">
              <li class="myrecipe_item list-unstyled">

                  <div class="border">
                    <div class="mx-auto" style="width: 130px;"><%= image_tag recipe.get_image, size:"130x130" %></div>
                    <div class="h5 link text-dark" style="background-color: pink;">
                      <p class="text-center h4"><%= recipe.dish_name %></p><br>
                      <p class="text-center"><%= recipe.explanation %></p>
                    </div>
                </div>

                <% end %>
              </li>
            </ul>
            <% end %>

</div>