<!--材料のフォーム追加、何人分の料理・調理時間のフォーム-->
<p>材料</p>
<%= f.number_field :serving, min: 1, max:15 %>人分
<%= f.text_field :cooking_time, placeholder: "時間" %>分
<%= f.fields_for :cooking_materials do |t| %>
  <%= render "cooking_material_fields", f: t %>
<% end %>

<div id="detail-association-insertion-point"></div>

<%= link_to_add_association "+フォームを追加", f, :cooking_materials,
  class: "btn btn-secondary btn-block",
  data: {
  association_insertion_node: '#detail-association-insertion-point',
  association_insertion_method: 'before'
  }%>

  <!--14行目、15行目でフォームの表示位置の指定し、9行目に代入する-->