<table>
  <tbody>
    <tr>
      <td><%= f.label :image, "レシピ画像" %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td><%= f.label :dish_name, "レシピのタイトル" %></td>
      <td><%= f.text_field :dish_name, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :explanation, "レシピ紹介文" %></td>
      <td><%= f.text_area :explanation, class: "form-control" %></td>
    </tr>
  </tbody>
</table>