<!--レシピ一覧画面-->
<div class="container">
  <div class="row mb-5">
    <div class="col-3 h3 mr-5">みんなのCaレシピ</div>

    <!--検索機能-->
    <div class="col-5">
      <%= search_form_for @q do |f| %>
        <div class="input-group">
          <%= f.search_field :dish_name_or_cooking_materials_material_name_cont, size: 40, placeholder: "レシピ、材料で検索" %><%= f.submit '検索', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-3">
      <%= link_to "人気のレシピはこちら", recipes_rank_path, class: "btn btn-warning" %>
     </div>
  </div>

  <!--サイドバー-->
  <div class="row">
    <div class="col-2 border">
      <p class="mt-3">メニューから選ぶ</p>
      <table class="table">
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= link_to genre.name, recipes_path(genre_id: genre.id), class: "text-dark" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="mt-5">タグから選ぶ</p>
      <table class="table">
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td>
                  <%= link_to tag.tag_name, recipes_path(tag_id: tag.id), class: "text-dark" %>
                  <%="(#{tag.recipes.count})" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--投稿レシピ-->
    <div class="col-10">
      <%= render "public/recipes/post_recipe", recipes: @recipes %>
    </div>
  </div>
</div>