<!--レシピ投稿画面-->
<div class="container">
  <h3>レシピを投稿する</h3>
  <%= render "layouts/errors", obj: @recipe %>
  <%= form_with model:@recipe, url:recipes_path, method: :post do |f| %>
    <div class="row mb-5">
      <div class="col-6">
        <table>
          <tbody>
            <tr>
              <td><%= f.label :image, "レシピ画像" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :dish_name, "レシピのタイトル" %></td>
              <td><%= f.text_field :dish_name, class: "form-control", placeholder: "例：簡単！牛乳のクリームパスタ" %></td>
            </tr>
            <tr>
              <td><%= f.label :explanation, "レシピ紹介文" %></td>
              <td><%= f.text_area :explanation, class: "form-control", placeholder: "例：牛乳をふんだんに使いました！" %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <%= render "material", {recipe: @recipe, f: f} %>
      </div>
    </div>

    <div class="row border-top">
      <div class="col-6 mt-5">
        <%= render "make", {recipe: @recipe, f: f} %>
      </div>

      <div class="col-5 offset-1 mt-5" style="background-color: linen;">
        <p>使用したカルシウムの食材を、<br>
            <%= Tag.all.pluck(:tag_name).join("、") %><br>
            でタグをつけてみましょう！
        </p>
        <p>※タグ無しでも投稿は可能です。</p>
        <p>タグ</p>
        <div><%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name %></div>

        <p>ジャンル</p>
        <div class="select_field mb-5"><%= f.collection_select :genre_id, Genre.all, :id, :name %></div>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>