<div class="container">
  <h3>レシピ詳細画面</h3>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <p class="h3 border-bottom border-primary"><%= @recipe.dish_name %></p>
      <p class="mb-3 h5"><%= @recipe.explanation %></p>
      <p><%= image_tag @recipe.customer.get_profile_image, size:"30x30" %><%= link_to @recipe.customer.name, customer_path(@recipe.customer) %>さんの投稿</p>
      <p><%= image_tag @recipe.get_image, size:"300x300" %></p>
      <p>タグ</p>
      <% @recipe_tags.each do |tag| %>
      <p><%= link_to tag.tag_name, recipes_search_path(tag_id: tag.id) %>
          <%="(#{tag.recipes.count})" %>
      </p>
      <% end %>
    </div>

    <div class="col-5 mt-5">
      <% if @recipe.customer == current_customer %>
       <%= link_to "レシピを削除", recipe_path(@recipe), method: :delete, class: "btn btn-danger" %>
      <% end %>

      <div id="favorite_buttons_<%= @recipe.id %>">
      <%= render "public/favorites/btn", recipe: @recipe %>
      </div>

      <p class="mt-4">材料 <%= @recipe.serving %>人分</p><%= @recipe.cooking_time %>分
      <table class="table table-striped">
        <tbody>
          <% @cooking_materials.each do |cooking_material| %>
            <tr>
              <td class="mr-4"><%= cooking_material.material_name %></td>
              <td><%= cooking_material.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h5 class="mt-5">作り方</h5>
      <% @how_to_makes.each do |how_to_make| %>
        <p class="border-bottom"><%= how_to_make.cooking_procedure %></p>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row mt-5">
    <div class="col-1"></div>
    <h5>コメントはこちら</h5>
    <div class="w-100"></div>
    <div class="col-1"></div>
  <div>
    <p>コメント件数<%= @recipe.recipe_comments.count %></p>
    <% @recipe.recipe_comments.each do |recipe_comment| %>
    <p><%= image_tag recipe_comment.customer.get_profile_image, size:"30x30" %><%= recipe_comment.customer.name %></p>
    <%= recipe_comment.created_at.strftime('%Y/%m/%d') %>
    <%= recipe_comment.comment %>
    <% if recipe_comment.customer == current_customer || admin_signed_in? %>
    <%= link_to "コメント削除", recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <% end %>
  </div>

  <div>
    <%= form_with model: [@recipe, @recipe_comment] do |f| %>
    <%= f.text_area :comment, placeholder: "コメントをここに" %>
    <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-1"></div>
  </div>
</div>


