<!--タグ一覧・タグ新規登録画面-->
<div class="container">
  <%= render "layouts/errors", obj: @tag %>
  <h3 class="mb-5">タグ管理</h3>
  <h5 class="mb-4">タグの新規登録をする</h5>
  <%= form_with model:@tag, url: admin_tags_path, method: :post do |f| %>
    <%= f.label :tag_name, "タグ名" %>
    <%= f.text_field :tag_name %>
    <%= f.submit "新規登録", class: "btn btn-primary" %>
  <% end %>

  <div class="row">
    <h4 class="mt-5 mb-4">タグ一覧</h4>
    <div class="w-100"></div>
    <table class="col-7 table table-hover">
      <thead>
        <tr>
          <th>タグ名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.tag_name %></td>
            <td><%= link_to "編集する", edit_admin_tag_path(tag), class: "btn btn-success mr-3" %>
                <%= link_to "削除する", admin_tag_path(tag), method: :delete, "data-confirm" => "OKを押すとタグが削除されます。本当によろしいですか？", class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>