<!--会員ログイン画面-->
<div class="container">
  <h2 class="mb-4">ログイン</h2>
  <%= form_with model: Customer.new, url: customer_session_path do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "ログイン", class: "btn btn-success mt-4" %>
  <% end %>
  <%= render "public/shared/links" %>
</div>



