<!DOCTYPE html>
<html>
  <head>
    <title>KarushiumuLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a3b0def78c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>

    <footer class="mt-5">


        <div class="container">
   <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="logo">LOGO</span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 offset-4">
              <ul class="address">
                <span>About</span>
                <li>
                  <%= link_to "カルシウムについて知ろう！", about_path, class: "text-light" %>
                </li>
               </ul>
            </div>
        </div>
    </div>

    </footer>
  </body>
</html>
